<div class="addbook__container">
  <div class="backbtn" (click)="goBack()">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10 19l-7-7m0 0l7-7m-7 7h18"
        />
      </svg>
      <p>Back</p>
    </div>
  </div>
  <div class="title">
    <h1>Add Book</h1>
  </div>
  <form [formGroup]="bookData">
    <div>
      <label for="title">Book Title</label>
      <input
        [class.error]="bookData.value.title === ''"
        formControlName="title"
        type="text"
        required
        name="title"
        placeholder="Theory of Everything"
      />
    </div>

    <div>
      <label for="author">Book Author</label>
      <input
        [class.error]="bookData.value.author === ''"
        formControlName="author"
        type="text"
        required
        name="author"
        placeholder="Albert Einstein"
      />
    </div>

    <div>
      <label for="release">Book Release Date</label>
      <input
        [class.error]="bookData.value.releaseDate === ''"
        formControlName="releaseDate"
        type="date"
        required
        name="release"
      />
    </div>

    <div>
      <label for="cover">Book Cover Url</label>
      <input
        [class.error]="bookData.value.coverUrl === ''"
        formControlName="coverUrl"
        type="url"
        required
        name="cover"
        placeholder="https://example.com/cover.png"
      />
    </div>

    <div class="operations">
      <button (click)="saveBook()" class="btn btn--save" type="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="btn--icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"
          />
        </svg>
        <p class="btn--text">Save</p>
      </button>

      <button (click)="clearForm()" class="btn btn--clear" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="btn--icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
          />
        </svg>
        <p class="btn--text">Clear</p>
      </button>
    </div>
  </form>
</div>
