<div class="book__container">
  <div class="backbtn" (click)="goBack()">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10 19l-7-7m0 0l7-7m-7 7h18"
        />
      </svg>
      <p>Back</p>
    </div>
  </div>

  <div *ngIf="state.isLoading; else book" class="spinner__container">
    <app-spinner></app-spinner>
  </div>

  <ng-template #book>
    <div class="book">
      <div class="cover">
        <img src="{{ state.data.coverUrl }}" alt="{{ state.data.title }}" />
      </div>

      <div class="data">
        <div class="title">
          <h1>{{ state.data.title }}</h1>
        </div>

        <div class="author">
          by
          <a
            target="_blank"
            href="https://en.wikipedia.org/wiki/{{ state.data.author }}"
            ><span>{{ state.data.author }}</span></a
          >
        </div>

        <div class="release">
          <p>
            Published On :-
            <span class="date"> {{ state.data.releaseDate }}</span>
          </p>
        </div>

        <div class="operations">
          <button
            type="button"
            class="btn btn--delete"
            (click)="deleteBookById(state.data.id)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="btn--icon"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
              />
            </svg>
            <p class="btn--text">Delete</p>
          </button>
          <button (click)="openUpdateModal()" class="btn btn--update">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="btn--icon"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
            <p class="btn--text">Update</p>
          </button>
          <button (click)="copyLink()" class="btn btn--share">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="btn--icon"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"
              />
            </svg>
            <p class="btn--text">Share</p>
          </button>
        </div>
      </div>
    </div>

    <app-updatebook
      (updateBookEvent)="updateBook($event)"
      (closeModalEvent)="closeUpdateModal()"
      [book]="state.data"
      *ngIf="updateModalState"
    ></app-updatebook>
  </ng-template>
</div>
