<div class="books">
  <div class="title">
    <h1>Total Books({{ state.data.length }})</h1>
  </div>

  <div class="spinner__container" *ngIf="state.isLoading; else books">
    <app-spinner></app-spinner>
  </div>

  <div class="error" *ngIf="state.data.length === 0">
    <h1>No Books Found!</h1>
  </div>

  <ng-template #books>
    <div class="books__container">
      <a
        *ngFor="let book of state.data"
        [routerLink]="['/book', book.id]"
        class="book"
      >
        <div>
          <img src="{{ book.coverUrl }}" alt="{{ book.title }}" />
        </div>
        <div class="book__metadata">
          <h1>{{ book.title }}</h1>
        </div>
      </a>
    </div>
  </ng-template>
</div>
